.navbar-inner {
    background: transparent;
}

.sub-section {
    border-radius: 10px;
    /* Initial rounded corners */
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}


.sub-section:hover {
    background-color: rgb(255, 255, 187);
    border-radius: 75%;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.category-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-dark-mode {
    background-color: #85bdf5;
    color: rgb(255, 244, 244);
}
