.modal-dialog.right {
    position: fixed;
    top: 50px;
    right: 0;
    margin: 0;
    height: 100vh;
    width: 400px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-dialog.right {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .modal-dialog.right {
        width: 100%;
    }
}

.setting-btn {
    background-color: rgb(212, 212, 212);
    color: black;
}