.filter {
    top: 208px;
    width: 19rem;
    position: absolute;
    display: flex;
    flex-direction: row;
}

/* Styling the first thumb (minValue) */
.MuiSlider-thumb:first-of-type {
    background-color: #0eb145;
}

/* Styling the second thumb (maxValue) */
.MuiSlider-thumb:last-of-type {
    background-color: #dc3545;
}