.footer {
    position: relative;
    background-color: #e4e4ff;
    padding: 40px;
    height: 400px;
}

.footer-items {
    font-size: 20px;
}

.footer-header {
    border-bottom: 0.1px groove #a1a1a1;
    margin-bottom: 20px;
}