.footer {
    position: relative;
    background-color: #e4e4ff;
    padding: 40px;
    height: 350;
}

.footer-items {
    font-size: 20px;
}

.footer-header {
    border-bottom: 0.1px groove #a1a1a1;
    margin-bottom: 20px;
}

.footer-social-media {
    transition: transform .2s;
}

/* hovers */

.footer-social-media:hover {
    transform: scale(1.5);
}